#container {
    background-color: #e5eac9;
    margin-left: 20%;
    margin-right: 20%;
}

header {
    background-color: rgb(184, 106, 106);
}

img {
    width: 20%;
}

figcaption {
    display: inline;
    text-align: center;
    background-color: #0000009b;
    color: #fff;
    font-size: 15px;
    font-family: Verdana, "Arial Bold", sans-serif;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #0000ff;
    font-family: Verdana, Arial, sans-serif;
    background-color: #f5dec2;
    border-radius: 5px;
}